# The variables added in this file are only available locally in MiniOxygen.
# Run `h2 link` to also inject environment variables from your storefront,
# or `h2 env pull` to populate this file.

SHOPIFY_API_KEY=your_api_key_here
SHOPIFY_API_SECRET=your_api_secret_here
SHOPIFY_APP_URL=https://localhost:3000
SHOPIFY_LANGUAGE=ja-JP
SHOPIFY_COUNTRY=JP
SHOPIFY_STORE_URL=your_store_url.myshopify.com